:root{
  --font-peddana: 'Peddana', serif;
  --font-ubuntu: 'Ubuntu', sans-serif;
  --color-grey-light: #cccccc;
  --color-grey: grey;
  --color-grey-dark: #666666;
  --color-light-dark: #f5f5f5;
  --color-light: #FFFFFF;
  --color-primary: #5199b0;
  --color-primary-dark: #347084;
  --color-primary-light: #81cbe3;
  --font-size-xl: 1.8rem;
  --font-size-lg: 1.4rem;
  --font-size-md: 1.2rem;
  --font-size-sm: 1rem;
  --font-size-xs: .8rem;
  --shadow-sm: 0px 1px 7px #e1e1e1;
  --shadow-sm-dark: 0px 1px 7px #b3b3b3;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}
