

.posts-wrapper{
  a{
    text-decoration: none;
  }

  .posts{
    &-item{
      min-height: 4rem;
      box-shadow: var(--shadow-sm);
      padding-right: 1rem;
      overflow: hidden;
      margin: 1rem 0;
      transition: .2s;
      background: var(--bg-primary);

      .profile{
        width: 4rem;
        img{
          width: 3rem;
          margin: .5rem;
          border-radius: 100%;
        }
      }

      .title{
        font-size: 1.2rem;
        margin: 0 1rem;
      }
      .timestamp{
        font-size: .8rem;
      }
    }

  }
}

.search-box{
  position: relative;
  .search-icon{
    position: absolute;
    right: 20px;
    top: 2px;
    color: #929292;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    background: transparent;
    &:hover{
      color: #525151;
    }

    &:focus{
      outline: 0;
    }
  }
}

.search-result-box{
  position: absolute;
  top: 29px;
  right: 0;
  width: 100%;
  min-height: 5rem;
  padding: 1rem;
  background: #fff;

  .item{
    font-size: 1rem;
    padding: .3rem 1rem;
    display: block;
    background: whitesmoke;
    border-radius: 5px;
    margin: .3rem 0;
    .name{
      color: grey;
      font-size: .8rem;
    }
    .title{
      color: #00BCD4;
    }
  }
}
