

.right-section{
  .users-wrapper{
    width: 100%;
    position: relative;

    .users{
      font-family: var(--font-ubuntu);
      height: 100vh;
      margin: 0 1rem;

      &-item{
        min-height: 6.3rem;
        display: flex;
        flex-flow: row wrap;
        margin: 1rem;
        background: var(--bg-primary);
        box-shadow: var(--shadow-sm);
        padding: 1rem;

        .profile{
          width: 25%;
        }

        .body{
          width: 75%;
          padding: 0 1rem;
          .name{
            display: block;
            text-decoration: none;
            color: var(--text-primary);
            font-size: 1.2rem;
            margin-bottom: .3rem;

            &:hover{
              opacity: .7;
            }
          }
          .work{
            display: block;
            font-size: .8rem;
            color: var(--text-secondary);
          }
          .posts{
            display: block;
            font-size: 1rem;
            text-decoration: none;
            color: var(--text-secondary);
            cursor: pointer;

            &:hover{
              opacity: .8;
              text-decoration: underline;
            }
          }
        }
      }
    }

  }
}
