
.error-msg{
  display: block;
  color: red;
  font-size: .9rem;
  margin: .5rem 0;
}

.create-post{
  min-height: 30rem;
  margin: 1rem 2rem;
  box-shadow: var(--shadow-sm);
  background: var(--bg-primary);
  font-family: var(--font-ubuntu);

  &-content{
    padding: 2rem;
    .title{
      font-size: 1.4rem;
    }

    .form{
      label{
        font-size: 1.2rem;
      }
    }
  }
}

button:disabled{
  cursor: auto!important;
  opacity: .6;
  &:hover{
    box-shadow: none!important;
  }
}
